<div class="hold-transition login-page">
  <div class="login-box">
    <div class="login-logo">
      <img src="../assets/img/logo_app_gadch.png" alt="GADCH" height="60px" class="brand-image img-circle elevation-3" style="opacity: .8">
      <span class="brand-text font-weight-light">SFV</span>
    </div>
    <!-- /.login-logo -->
    <div class="card">
      <div class="card-body login-card-body">
        <p class="login-box-msg">Ingrese sus datos de Acceso</p>
        <form  (ngSubmit)="login()" [formGroup]="loginForm">
          <div class="input-group mb-3">
            <input type="text" class="form-control" formControlName="email" placeholder="Usuario de Sistemaa" required>
            <div class="input-group-append">
              <div class="input-group-text">
                <span class="fas fa-user"></span>
              </div>
            </div>
          </div>
          <div class="input-group mb-3">
            <input type="password" class="form-control" formControlName="password" placeholder="Contraseña" required >
            <div class="input-group-append">
              <div class="input-group-text">
                <span class="fas fa-lock"></span>
              </div>
            </div>
          </div>
          <!-- <div class="input-group mb-3 d-none"> -->
          <div class="input-group mb-3">
            <select class="form-control" formControlName="sucursal" required>
              <option *ngFor="let item of sucItems; index as i"
                [value] = "item.id"
                >{{ item.nombre }}
              </option>
            </select>
            <div class="input-group-append">
              <div class="input-group-text">
                <span class="fas fa-caret-down"></span>
              </div>
            </div>
          </div>
          <div class="row">
            <div class="col-6">
              <button type="submit" class="btn btn-primary btn-block" [disabled]="loginForm.invalid">Ingresar</button>
            </div>
          </div>
        </form>
      </div>
      <div *ngIf="hayError">
        <div class="alert alert-warning alert-dismissible fade show" role="alert">
          <strong>ERROR!!</strong>Usuario no encontrado.
          <button type="button" class="close" data-dismiss="alert" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
      </div>
    </div>
  </div>
</div>
