
  <!-- Main Sidebar Container -->
  <aside class="main-sidebar sidebar-dark-primary elevation-4">
    <!-- Brand Logo -->
    <a (click)="mainNavegar()" class="brand-link">
      <img src="../assets/img/logo_app_gadch.png" alt="GADCH" class="brand-image img-circle elevation-3" style="opacity: .8">
      <span class="brand-text font-weight-light">SFV</span>
    </a>

    <div class="sidebar">
      <div class="user-panel mt-3 pb-3 mb-3 d-flex">
        <div class="info">
          <a href="#" class="d-block">{{ auth.nombre | titlecase }}</a>
        </div>
      </div>

      <!-- Sidebar Menu -->
      <nav class="mt-2">
        <ul class="nav nav-pills nav-sidebar flex-column" data-widget="treeview" role="menu" data-accordion="true">
          <div *ngIf="mostrarM">
            <li class="nav-item" *ngFor="let item of menuItems">
              <a class="nav-link" *ngxPermissionsOnly="item.permisos">
                <i class="{{ item.icono }}"></i>
                <p>
                  {{ item.titulo }}
                  <i class="fas fa-angle-left right"></i>
                  <span class="badge badge-secondary right">{{ item.submenu?.length }}</span>
                </p>
              </a>
              <!-- <ul class="nav nav-treeview"> -->
              <ul class="nav nav-treeview">
                <li class="nav-item" *ngFor="let subItem of item.submenu">
                  <a [routerLink]="[subItem.url]" class="nav-link">
                    <i class="{{ subItem.icono }}"></i>
                    <p>{{ subItem.titulo }}</p>
                  </a>
                </li>
              </ul>
            </li>
          </div>
          <li class="nav-item">
            <a class="nav-link"  style="cursor: pointer;" (click)="logout()">
                <i class="nav-icon fas fa-sign-out-alt"></i>
                <p class="ml-2">
                  Salir
                </p>
            </a>
          </li>  
        </ul>
      </nav>
      <!-- /.sidebar-menu -->
    </div>
    <!-- /.sidebar -->
  </aside>

  <!-- Control Sidebar -->
  <aside class="control-sidebar control-sidebar-dark">
    <!-- Control sidebar content goes here -->
  </aside>
  <!-- /.control-sidebar -->


