<div *ngIf="titulo.length>0">
  <section>
    <div class="row mb-2">
      <div class="col-md-4">
        <app-input
          [terminoIn]="termino"
          [placeholder]="placeholder"
          (onEnter)="buscar( $event )"
          (onDebounce)="sugerencias( $event )"
          >
        </app-input>
      </div>
      <div class="col-md-4">
        <div class="form-check form-check-inline">
          <input class="form-check-input" type="radio" (click)="miplaceholder('1')" name="por" [(ngModel)]="por" id="inlineRadio1" value="1">
          <label class="form-check-label" for="inlineRadio1">Por Nro. de Documento</label>
        </div>
        <div class="form-check form-check-inline">
          <input class="form-check-input" type="radio" (click)="miplaceholder('2')" name="por" [(ngModel)]="por" id="inlineRadio2" value="2">
          <label class="form-check-label" for="inlineRadio2">Por Razón Social</label>
        </div>
      </div>
      <div class="col-md-3">
        <button class="btn btn-primary btn-block" (click)="ultimos15()" > Ultimos 15 </button>
      </div>
    </div>
  </section>
  <hr>
  <section *ngIf="ventasItems.length>0">
    <div class="card">
      <div class="card-header">
        <h2>Facturas</h2>
      </div>
      <div class="card-body">
        <div class="table-responsive">
          <table class="table table-hover table-striped">
            <thead>
              <tr>
                <th scope="col">Nro</th>
                <th scope="col">Id</th>
                <th scope="col">Fecha y Hora</th>
                <th scope="col">Nro Documento</th>
                <th scope="col">Razón Social</th>
                <th class="text-right" scope="col">Monto</th> 
                <th scope="col">Acciones</th>
              </tr>
            </thead>
            <tbody>
              <tr *ngFor="let item of ventasItems; let i = index ">
                <td>{{ i+1 }}</td>
                <td>{{ item.id }}</td>
                <td>{{ item.fechHora | date:'dd-MM-yyyy HH:mm:ss' }}</td>
                <td>{{ item.nroDocumento }}</td>
                <td>{{ item.razonSocial | titlecase }}</td>
                <td class="text-right">Bs. {{ item.monto | number : '1.2-2' }}</td>
                <td>
                  <div class="row">
                    <div class="col-6">
                      <span class="p-2">
                        <a (click)="verdetalle(item.id)" class="badge bg-primary" title="DETALLE DE : {{ item.razonSocial }}">
                          <i class="fa fa-eye"></i>
                        </a>
                      </span>
                    </div>
                    <div class="col-6" *ngIf="item.id_usuario === usuario.id">
                      <span class="p-2">
                        <a (click)="seleccionar_borrar(item.id)" class="badge bg-primary" title="BORRAR FACTURA : {{ item.razonSocial }}">
                          <i class="fa fa-trash"></i>
                        </a>
                      </span>
                    </div>
                  </div>
                </td>
              </tr>
            </tbody>
          </table>
        </div>
      </div>
      <div class="card-footer">
      </div>
    </div>
  </section>
</div>
<div
  class="modal"
  tabindex="-1"
  role="dialog"
  [ngStyle]="{'display':displayStyle}"
  aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h4 class="modal-title">Borrar Factura</h4>
        <button type="button" class="close" (click)="closePopup()">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <table class="table table-sm ">
          <tbody>
            <tr>
              <th class="table-active">Nro. de Factura</th>
              <td>{{unaVenta.id}}</td>
            </tr>
            <tr>
              <th class="table-active">Razón Social</th>
              <td>{{unaVenta.razonSocial | uppercase}}</td>
            </tr>
            <tr>
              <th class="table-active">Nro. Documento</th>
              <td>{{unaVenta.nroDocumento}}</td>
            </tr>
            <tr>
              <th class="table-active">Monto</th>
              <td>Bs. {{unaVenta.monto | number : '1.2-2' }}</td>
            </tr>
            <tr>
              <th class="table-active">Fecha y Hora</th>
              <td>{{unaVenta.fechHora | date:'dd-MM-yyyy HH:mm:ss'}}</td>
            </tr>
          </tbody>
        </table>
        
      </div>
      <div class="modal-footer">
        <!-- <button type="button" class="btn btn-info" (click)="closePopup()">Cancelar Borrado</button> -->
        <button type="button" class="btn btn-danger" data-dismiss="modal" (click)="borrar_factura()">Borrar Factura</button>
      </div>
    </div>
  </div>
</div>
<app-oops-page></app-oops-page>

